<div class="px-4 py-5">
        
  <div class="container-fluid">
    
    <div class="p-5 mb-5 bg-light">
      
      <div class="row">
        <div class="col-sm-3"><img class="img-fluid img-thumbnail rounded-circle" src="../../../assets/img/about-profile.jpg" alt=""></div>
        <div class="col-sm-9">
          <h1 class="font-weight-normal">Hello! I'm <strong>Jason Doe</strong>. </h1>
          <h2 class="h1 font-weight-normal mb-4">I'm a <strong>Developer </strong>and writer.</h2>
          <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched. Put hearing cottage she norland.</p>
          <p class="text-muted mb-4">Dribbble shots for demo purposes by  <a href="https://dribbble.com/juliahanke">Julia Hanke</a>.</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-5 my-2"><a class="btn btn-primary rounded-pill" href="#"> 
                <svg class="svg-icon mr-2 align-middle svg-icon-sm">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#survey-1"> </use>
                </svg><span class="align-middle">Download resume</span></a></li>
            <li class="list-inline-item my-2">
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"> <i class="fab fa-behance"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section class="py-4">
      <div class="container">
        <h2 class="h1">What do I offer?</h2>
        <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it.</p>
        <div class="row mb-4">
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-grow-1">
                <svg class="svg-icon text-primary">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#stack-1"> </use>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="h5 mr-3">Graphic Designer</h3>
                <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-grow-1">
                <svg class="svg-icon text-primary">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#laptop-screen-1"> </use>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="h5 mr-3">Web Designer</h3>
                <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-grow-1">
                <svg class="svg-icon text-primary">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#design-1"> </use>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="h5 mr-3">UI Designer</h3>
                <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="d-flex">
              <div class="flex-grow-1">
                <svg class="svg-icon text-primary">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#multiple-windows-1"> </use>
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="h5 mr-3">Web Developer</h3>
                <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume py-4">
      <div class="container">

        <div class="section-title">
          <h2 class="h1">Resume</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Alex Smith</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Fine Arts &amp; Graphic Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
    <section class="py-4">
      <div class="container">
        <h2 class="h1">Fun facts</h2>
        <p class="text-muted mb-4">Received overcame oh sensible so at an. Formed do change merely to county it.</p>
        <div class="row text-center align-items-stretch">
          <div class="col-lg-3 mb-4">
            <div class="border p-4 h-100 d-flex align-items-center">
              <div class="w-100">
                <svg class="svg-icon text-gray mb-2">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#stack-1"> </use>
                </svg>
                <h5>Happy Clients</h5>
                <p class="mb-0 text-gray h5">1200</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="border p-4 h-100 d-flex align-items-center bg-light">
              <div class="w-100">
                <svg class="svg-icon text-gray mb-2">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#quality-1"> </use>
                </svg>
                <h5>Awards Won</h5>
                <p class="mb-0 text-gray h5">18</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="border p-4 h-100 d-flex align-items-center">
              <div class="w-100">
                <svg class="svg-icon text-gray mb-2">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#time-1"> </use>
                </svg>
                <h5>Working Hours</h5>
                <p class="mb-0 text-gray h5">6500</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="border p-4 h-100 d-flex align-items-center bg-light">
              <div class="w-100">
                <svg class="svg-icon text-gray mb-2">
                  <use xlink:href="../assets/icons/orion-svg-sprite.svg#hot-coffee-1"> </use>
                </svg>
                <h5>Coffee Consumed</h5>
                <p class="mb-0 text-gray h5">18000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>