<app-navbar></app-navbar>
<div class="page-holder">
    <div class="px-4 d-block d-lg-none">
      <!-- navbar-->
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
          <button class="navbar-toggler navbar-toggler-right text-sm text-uppercase" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="svg-icon svg-icon-heavy svg-icon-sm text-dark">
              <use xlink:href="../assets/icons/orion-svg-sprite.svg#menu-hamburger-1"> </use>
            </svg>
          </button><a class="navbar-brand" href="index.html"><img src="../../../assets/img/dev-logo.png" alt="" width="50"></a>
        </nav>
      </header>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>